* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  font-size: clamp(14px, 1vw, 18px);
  scroll-behavior: smooth;
}
body {
  // background-color: #121212;
  // color: white;
  font-family: chillax;
}

@mixin flex-center($gap: 0rem) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

#view1 {
  // height: 100vh;
  // background-color: red;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  padding: 3.5rem 2rem;
  h1 {
    font-size: 5rem;
    letter-spacing: 1.3;
    word-spacing: 1.1;
    font-weight: 900;
    span {
      margin: 0 -1rem;
      font-size: 3.5rem;
    }
  }
  p {
    font-size: 1.6rem;
  }

  .main-big-btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    button {
      width: 100%;
      padding: 1.5rem;
      font-size: 1.5rem;
      background-color: white;
      border: 0.5px solid black;
      text-transform: capitalize;
      font-weight: 500;
    }

    button:nth-child(2) {
      background-color: #a135ee;
      color: white;
      border: none;
    }
  }
  .video {
    border-radius: 1rem;
    overflow: hidden;
  }
}

#view2 {
  padding: 2rem 1.5rem;

  h3 {
    font-size: 2.5rem;
    text-align: center;
    .pink {
      color: #ff5f77;
    }
    .orange {
      color: #ffa637;
    }
    .green {
      color: #00b5a9;
    }
  }
  .all-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    .card {
      height: 44rem;

      border-radius: 2rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 1rem;
      .topheader {
        padding: .5rem;
        text-align: center;
        @include flex-center();
        flex-direction: column;
        gap: 1rem;
        h3 {
          font-size: 2rem;
          @include flex-center(1rem);
        }
        p {
          font-size: 1.4rem;
          font-weight: 100;
          text-align: start;
          opacity: 0.8;
        }
      }
      .downimg {
        width: 100%;
        height: 30rem;
        position: relative;
        img {
          position: absolute;
          // background-color: #00b5a9;
          width: 5rem;
          text-align: start;
        }
        .bluckhouse {
          width: 100%;
        }
        .house2 {
          top: 70%;
          left: 40%;
        }
        .house1 {
          top: 50%;
          right: 5%;
        }
        //  .house3{
        //   top: 40%;
        //   left: 5%;
        // }
      }
    }

    .card1 {
      background-color: #f98aae;
      background-image: url(./image/card1.webp);
    }
    .card2{
      // background-color: #ffcc99;
      background-image: url(./image/card2.webp);

      .downimg{

        .jose{
          top: 55%;
          left: 10%;
        }
        .mich{
          top: 70%;
          right: 30%;
        }
        .juan{
          top: 60%;
          right:  0%;
          // left: 30%;
        }
      }
    }

    .card3 {
      padding: 0%;
      overflow: hidden;
      // background-color: #99e6e6;
      background-image: url(./image/card3.webp);
 .topheader {

        padding: 2rem 2rem 0rem 2rem;
align-items: start;
      }
      .downimg{
        overflow: hidden;
        height: 34.8rem;
        padding: 0%;
        // background-color: red;
        .men{
          position: absolute;
          width: 120%;
          height: 46rem;
          top: -36%;
          left: -12%;
          z-index: 10;
          // mix-blend-mode: multiply;
        }
        .mentalbg{
          position: absolute;
          width: 100%;
          top: -25%;
          left: 0%;
          mix-blend-mode: multiply;
          z-index: 5;
        }
        .mental{
          position: absolute;
          width: 100%;
          top: 30%;
          left: 0%;
          mix-blend-mode: multiply;
          z-index: 11;
        }
      }
    }
  }
}

#view3{
  padding: 3rem 2rem;
  .topheading{
    @include flex-center();
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 1.8rem;
      color: #a135ee;
    }
    h2{
      font-size: 3rem;
      margin-top: 1rem;
      font-weight: 900;
      text-align: center;
      line-height: 1.4;
    }
  }
}
